includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
  level: 6
  ignoreErrors:
      - identifier: missingType.iterableValue
      - identifier: missingType.generics
      - identifier: instanceof.alwaysTrue
      # - '#should return non-empty-string but returns string#i'
  paths:
    - src
  excludePaths:
    - migrations
    - var
    - vendor
